/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}
body { background-color: #F0F0F0;
}

h1 {font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h3, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem; 
    display: inline;
}


main {
    width: 100vw;
    padding: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-row-gap: 2rem;
    position: relative;
    z-index: -10;
}

main > article {
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
    display: inline-block;
    position: relative;
}

main > article > h2 > span {
    display: block;
    font-size: 1rem;
}

main > article > img {
    width: 10rem;
    image-rendering: pixelated;
    position: absolute;
    right: 2rem;
    transform: translateY(-50%);
    top: 50%;
}

main > article > h3 {
    color: #A0A8B2;
position: relative;
padding-left: 1rem;
    margin-right: 1rem;
}

main > article > h3:before {
    content: '';
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 100%;
}

.normal {
    color: #A8A878;
}

.normalcircle:before {
    background-color: #A8A878;
}

.fire {
   color: #B22E2F;
}

.firecircle:before {
    background-color: #B22E2F;
}

.water {
   color: #6890F0;
}

.watercircle:before {
    background-color: #6890F0;
}

.grass {
    color: #89A59E;
}

.grasscircle:before {
    background-color: #89A59E;
}

.electric {
    color: #F8CF30;
}

.electriccircle:before {
    background-color: #F8CF30;
}

.flying {
    color: #A890F0;
}

.flyingcircle:before {
    background-color: #A890F0;
}

.poison {
    color: #A040A0;
}

.poisoncircle:before {
    background-color: #A040A0;
}

.bug {
    color: #A8B71F;
}

.bugcircle:before {
    background-color: #A8B71F;
}

footer {
    width: 100vw;
    height: 5rem;
    padding: 1rem 5rem;
    position: sticky;
    bottom: 0;
    z-index: 10;
   background-color: #F0F0F0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer > button {
    background-color: transparent;
    border: none;
    color: #A0A8B2;
}
